<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/home.css">
        <title>SetMatch</title>
    </head>
    <body>
        <div class="header-bar">
            <div class="logo-section">
                <img src="../img/logo2.svg" alt="SetMatch Logo" class="logo">
            </div>
            <div class="header-icons">
                <button class="icon-button" onclick="openCalendar()">
                    <img src="../img/calendar.svg" alt="calendar img" class="pictures">
                </button>
                <button class="icon-button" onclick="addNewItem()">
                    <img src="../img/add.svg" alt="plus img" class="pictures">
                </button>
                <button class="icon-button" onclick="openChat()">
                    <img src="../img/chat.svg" alt="chat img" class="pictures">
                </button>
                <button class="icon-button" onclick="searchItem()">
                    <img src="../img/magnifier.svg" alt="magnifier img" class="pictures">
                </button>
                <span class="logout-text" onclick="logout()">Log Out</span>
            </div>
            
        </div>
        <div class="container">
            <div class="side-panel">
                <div class="profile-section">
                    <div class="profile-picture">

                    </div>
                    <div class="profile-details">
                        <p>Josh</p>
                        <p>Swift</p>
                        <p>libero</p>
                        <p>B</p>
                        <p>Kraków</p>
                        <p>#0001</p>
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="my-teams-btn">My teams</button>
                    <button class="create-team-btn">Create a team!</button>
                </div>
            </div>
            <div class="main-page">

            </div>
        </div>
    </body>
</html>