<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/home.css">
        <title>SetMatch</title>
    </head>
    <body>
        <div class="header-bar">
            <div class="logo-section">
                    <img src="../img/logo2.svg" alt="SetMatch Logo" class="logo">
            </div>
            <div class="header-icons">
                <button class="icon-button" onclick="location.href='calendar.html'">
                    <img src="../img/calendar.svg" alt="calendar img" class="pictures">
                </button>
                <button class="icon-button" onclick="location.href='addmatch.html'">
                    <img src="../img/add.svg" alt="plus img" class="pictures">
                </button>
                <button class="icon-button" onclick="location.href='temp.html'">
                    <img src="../img/chat.svg" alt="chat img" class="pictures">
                </button>
                <button class="icon-button" onclick="location.href='temp.html'">
                    <img src="../img/magnifier.svg" alt="magnifier img" class="pictures">
                </button>
                <span class="logout-text" onclick="location.href='login.html'">Log Out</span>
            </div>
        </div>
        <div class="container">
            <div class="side-panel">
                <div class="profile-section">
                    <div class="profile-picture">

                    </div>
                    <div class="profile-details">
                        <p>Josh</p>
                        <p>Swift</p>
                        <p>libero</p>
                        <p>B</p>
                        <p>Kraków</p>
                        <p>#0001</p>
                    </div>
                </div>
                <div class="buttons-container">
                    <button type="button" class="create-team-btn" onclick="location.href='addteam1.html'">Create a team!</button>
                    <button type="button" class="home-page-btn" onclick="location.href='home.html'">HOME</button>
                </div>                
            </div>
            <div class="main-page">
                <h2>...still working on it :)</h2>
            </div>
            
        </div>
    </body>
</html>